* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Cambio a Trebuchet que queda mas profesional que Arial */
    font-family: 'Trebuchet MS', sans-serif; 
    background-color: #f0f2f1;
    color: #2c3e50;
    line-height: 1.5;
}

/* --- NAVEGACION (Requisito 5 y 12) --- */
.menu-navegacion {
    background-color: #1a252f;
    position: sticky; /* Menu que se queda arriba al hacer scroll */
    top: 0;
    z-index: 1000;
}

.menu-navegacion ul {
    list-style: none;
    max-width: 1100px;
    margin: 0 auto;
    display: flex; /* Para poner los botones en fila */
}

.menu-navegacion a {
    color: #bdc3c7;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 13px;
    display: block;
    transition: 0.2s; /* Para que el cambio de color sea suave */
}

/* Pseudoselector hover para los enlaces */
.menu-navegacion a:hover {
    color: #ffffff;
    background-color: #34495e; 
}

.link-activo {
    color: #2ecc71 !important;
    border-bottom: 2px solid #2ecc71;
}

/* --- BLOQUES Y SECCIONES --- */
.contenedor-principal {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
}

.contenedor-flexible {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.seccion-blanca, .caja-info {
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-left: 5px solid #3498db; /* Un toque de color azul lateral */
}

/* Requisito 12: Primera letra mas grande */
.seccion-blanca p::first-letter, .caja-info p::first-letter {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1a252f;
}

/* --- TABLAS (Requisito 9) --- */
.tabla-profesional {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    background-color: white;
}

.tabla-profesional th, .tabla-profesional td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.tabla-profesional th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* --- GALERIA (Requisito 8 y 10) --- */
.galeria-grid {
    display: flex;
    flex-wrap: wrap; /* Para que bajen las fotos si no caben */
    gap: 15px;
    justify-content: center;
}

.foto-item {
    background: white;
    border: 1px solid #ddd;
    width: 300px;
    padding: 8px;
}

.foto-item img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Para que no se deformen las fotos */
}

/* --- FORMULARIOS --- */
.form-final {
    display: flex;
    flex-direction: column;
}

.form-final input, .form-final textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    font-family: sans-serif;
}

.btn-enviar {
    background: #1a252f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-enviar:hover {
    background: #2ecc71; /* Cambio a verde al pasar el raton */
}

/* --- FOOTER --- */
.pie-simple {
    background: #1a252f;
    color: #7f8c8d;
    padding: 40px;
    text-align: center;
    margin-top: 50px;
    font-size: 13px;
}